@model ProWorldz.BL.BusinessModel.UserBM
@{
    ViewBag.Title = "Home Page";
    
}


<body class="login">


    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <h1>Edit Profile</h1>
                <div class="panel panel-default text-center">

                    @if (Model != null)
                    {
                        <h2>@Model.Name</h2>
                    }

                </div>
            </div>
        </div>
    </div>

     <br />
    <br />
    <br />   <br />
    <br />
    <br />   <br />
    <br />
    <br />   <br />
    <br />
    <div class="container">
        <div class="tabbable tabs-vertical tabs-left">
            <!-- Tabs -->
            <ul class="nav nav-tabs" tabindex="6" style="overflow: hidden; outline: none;">
                <li class="active"><a href="#home4" data-toggle="tab"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li><a href="#profile4" data-toggle="tab"><i class="fa fa-fw fa-user"></i>Profile</a>
                </li>
                <li><a href="#messages4" data-toggle="tab"><i class="fa fa-fw fa-envelope"></i>Messages</a>
                </li>
            </ul>
            <!-- // END Tabs -->
            <!-- Panes -->
            <div class="tab-content">
                <div id="home4" class="tab-pane active">
                    <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Input</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Textarea</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Add-On</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input type="text" class="form-control" placeholder="Username">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Input Button</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control">
                                                            <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button">Go!</button>
                                    </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Color Picker</label>
                                                    <div class="col-sm-9">
                                                        <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left"><input type="text" class="form-control minicolors minicolors-input" data-defaultvalue="#25ad9f" size="7"><span class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color" style="background-color: rgb(37, 173, 159);"></span></span><div class="minicolors-panel minicolors-slider-hue"><div class="minicolors-slider minicolors-sprite"><div class="minicolors-picker" style="top: 77.5735294117647px;"></div></div><div class="minicolors-opacity-slider minicolors-sprite"><div class="minicolors-picker"></div></div><div class="minicolors-grid minicolors-sprite" style="background-color: rgb(0, 255, 230);"><div class="minicolors-grid-inner"></div><div class="minicolors-picker" style="top: 48px; left: 118px;"><div></div></div></div></div></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Disabled</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Disabled input" disabled="">
                                                    </div>
                                                </div>
                                                <div class="form-group margin-none">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                                    </div>
                                                </div>
                                            </form>
                </div>
                <div id="profile4" class="tab-pane">
                   <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Input</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Textarea</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Add-On</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input type="text" class="form-control" placeholder="Username">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Input Button</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control">
                                                            <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button">Go!</button>
                                    </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Color Picker</label>
                                                    <div class="col-sm-9">
                                                        <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left"><input type="text" class="form-control minicolors minicolors-input" data-defaultvalue="#25ad9f" size="7"><span class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color" style="background-color: rgb(37, 173, 159);"></span></span><div class="minicolors-panel minicolors-slider-hue"><div class="minicolors-slider minicolors-sprite"><div class="minicolors-picker" style="top: 77.5735294117647px;"></div></div><div class="minicolors-opacity-slider minicolors-sprite"><div class="minicolors-picker"></div></div><div class="minicolors-grid minicolors-sprite" style="background-color: rgb(0, 255, 230);"><div class="minicolors-grid-inner"></div><div class="minicolors-picker" style="top: 48px; left: 118px;"><div></div></div></div></div></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Disabled</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Disabled input" disabled="">
                                                    </div>
                                                </div>
                                                <div class="form-group margin-none">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                                    </div>
                                                </div>
                                            </form>
                </div>
                <div id="messages4" class="tab-pane">
                   <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Input</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Type here..">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Textarea</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Add-On</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                            <input type="text" class="form-control" placeholder="Username">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Input Button</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control">
                                                            <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button">Go!</button>
                                    </span>
                                                        </div>
                                                        <!-- /input-group -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Color Picker</label>
                                                    <div class="col-sm-9">
                                                        <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left"><input type="text" class="form-control minicolors minicolors-input" data-defaultvalue="#25ad9f" size="7"><span class="minicolors-swatch minicolors-sprite"><span class="minicolors-swatch-color" style="background-color: rgb(37, 173, 159);"></span></span><div class="minicolors-panel minicolors-slider-hue"><div class="minicolors-slider minicolors-sprite"><div class="minicolors-picker" style="top: 77.5735294117647px;"></div></div><div class="minicolors-opacity-slider minicolors-sprite"><div class="minicolors-picker"></div></div><div class="minicolors-grid minicolors-sprite" style="background-color: rgb(0, 255, 230);"><div class="minicolors-grid-inner"></div><div class="minicolors-picker" style="top: 48px; left: 118px;"><div></div></div></div></div></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Disabled</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Disabled input" disabled="">
                                                    </div>
                                                </div>
                                                <div class="form-group margin-none">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                                    </div>
                                                </div>
                                            </form>
                </div>
            </div>
            <!-- // END Panes -->
        </div>

    </div>
</body>



