@model ProWorldz.BL.BusinessModel.UserBM
@{
    ViewBag.Title = "Home Page";
    
}


<body class="login">


    <div id="content">
        <div class="container-fluid">
            <div class="lock-container">
                <h1>Edit Profile</h1>
                <div class="panel panel-default text-center">

                    @if (Model != null)
                    {
                        <h2>@Model.Name</h2>
                    }

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="tabbable tabs-vertical tabs-left">
            <!-- Tabs -->
            <ul class="nav nav-tabs" tabindex="6" style="overflow: hidden; outline: none;">
                <li class="active"><a href="#home4" data-toggle="tab"><i class="fa fa-fw fa-home"></i>Home</a>
                </li>
                <li><a href="#profile4" data-toggle="tab"><i class="fa fa-fw fa-user"></i>Profile</a>
                </li>
                <li><a href="#messages4" data-toggle="tab"><i class="fa fa-fw fa-envelope"></i>Messages</a>
                </li>
            </ul>
            <!-- // END Tabs -->
            <!-- Panes -->
            <div class="tab-content">
                <div id="home4" class="tab-pane active">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam aut, commodi consectetur cumque est exercitationem hic minima nulla officia perferendis quam quas repellendus rerum tempora totam voluptates! Aut et facere impedit inventore iure, magni vitae. Blanditiis, deserunt doloremque dolores in laborum magni minus nesciunt officiis pariatur quas qui, suscipit. A accusamus adipisci autem beatae delectus enim et harum illo ipsa ipsam iste itaque labore nesciunt odio odit pariatur perspiciatis placeat provident quas quasi qui quo quos ratione reiciendis repudiandae soluta suscipit, tempore tenetur ut voluptas? Accusamus commodi culpa distinctio explicabo illo, laborum, nemo, nulla omnis tenetur unde ut!
                </div>
                <div id="profile4" class="tab-pane">
                    Adipisci commodi consequuntur ducimus enim est, et facilis nostrum nulla officiis pariatur quasi reiciendis, sed sunt. Accusantium aut autem consequatur cupiditate delectus dolore dolorem doloribus ducimus ex harum, illo impedit ipsa iusto maiores, minus nesciunt, perspiciatis placeat quae quibusdam quis repellat repudiandae rerum sed sequi suscipit temporibus veniam vitae. Alias debitis earum incidunt nostrum veniam, voluptas. A consequatur consequuntur distinctio dolores ex excepturi id, iusto maxime numquam quae qui unde voluptates! Accusamus ad aut, blanditiis debitis deleniti eius eum facere ipsam laboriosam laborum magnam nesciunt odio quas repellendus rerum sequi, sit. Architecto ex hic necessitatibus, officia perferendis quae quidem sapiente.
                </div>
                <div id="messages4" class="tab-pane">
                    Ab accusamus aperiam consequatur ducimus ea eos est, non omnis porro possimus praesentium, provident quam quibusdam quidem quo suscipit voluptate? Aperiam, dolorum eaque labore natus placeat sint totam. Cupiditate eos explicabo fugiat labore natus officia quidem sed ullam veniam voluptatibus. Consequatur, ducimus id, iste modi nesciunt nostrum obcaecati odit porro quaerat quibusdam quisquam, sequi similique vero. Adipisci aliquid at aut culpa cumque distinctio earum esse eveniet excepturi exercitationem harum illum in iste laudantium mollitia, nulla numquam perferendis perspiciatis porro qui, quo quod ratione similique suscipit temporibus ullam voluptas voluptates! Aperiam atque dolor excepturi illum in, magnam nemo quidem tempora vitae.
                </div>
            </div>
            <!-- // END Panes -->
        </div>

    </div>
</body>



